{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about_height">
    <div class="image-container">
        <img src="{% static 'img/backimg-01.jpg' %}" class="side-background" alt="배경 이미지">

        <div class="img_about_main">
        <div class="img_about_one">ABOUT</div>
        <div class="img_about_two">최고의 이야기를 담은 영화를 제작, 감동과 재미를 넘어선 경험을 선사합니다.</div>
        </div>
    </div>
    <div class="about_animation">
        <div class="about_main_two">
            <div class="about_main_two_wrapper">
                <div class="about_main_two_text">창작적 우수성</div>
                우리의 영화는 이야기와 캐릭터들을 통해 사람들의 마음을 움직이고 영감을 주며, 생각할 거리를 제공합니다.
            </div>
            <div class="about_main_two_wrapper">
                <div class="about_main_two_text">감동과 연결</div>
                우리는 진보적이고 혁신적인 아이디어를 통해 관객에게 새로운 경험을 제공하고 영화 산업에서 선도적인 위치를 차지하기 위해 노력합니다.
            </div>
            <div class="about_main_two_wrapper">
                <div class="about_main_two_text">세계적 영향력</div>
                우리는 국내뿐만 아니라 국제 시장에서도 인정받는 작품을 제작하여 한국 영화 산업의 성장과 발전에 기여하고자 합니다.
            </div>
        </div>

        <div class="about_two">
            <div class="about_two_text">
            <h2 class="about_two_text_one">PROFILE</h2>
            </div>
            <ul class="about_two_ul">
                    <li>
                        <span class="about_two_li">대표</span>
                        <span class="about_two_lx">김성진</span>
                    </li>
                    <li>
                        <span class="about_two_li">회사명</span>
                        <span class="about_two_lx">스튜디오야수</span>
                    </li>
                    <li>
                        <span class="about_two_li">주소</span>
                        <span class="about_two_lx">경기도 고양시 백마로 195 102동 505호</span>
                    </li>
                    <li>
                        <span class="about_two_li">사업분야</span>
                        <span class="about_two_lx">콘텐트 제작 및 유통</span>
                    </li>
                    <li>
                        <span class="about_two_li">이메일</span>
                        <span class="about_two_lx">sjkim6062@hanmail.net</span>
                    </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
