{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>스튜디오야수</title>
<meta name="title" content="스튜디오야수"/>
<meta name="description" content="최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다."/>
<link rel="icon" href="{% static 'img/logo.png' %}"/>

<meta property="og:title" content="스튜디오야수"/> 
<meta property="og:url" content="https://www.studiobeast.co.kr/"/>
<meta property="og:type" content="homepage"/>
<meta property="og:description" content="최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다."/> 
<meta property="og:image" content="{% static 'img/background.jpg' %}"/>
{% endblock %}
{% block content %}

  <div class="image-container">
    <img src="{% static 'img/backimg-01.jpg' %}" class="dark-background" alt="배경 이미지">

    <div class="img_text_main">
      <div class="img_text_one">Cinematic Visions</div>
      <div class="img_about_two">최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다.</div>
    </div>
  </div>

  <div class="main_poster" style="background-color: #fafafa;">
    <div class="main_poster_wrapper">
      {% for poster in contents_works %}
        <div class="main_poster_img" onclick="location.href='{% url 'works:detail' poster.id %}'">
          <img src="{{ poster.photo.url }}" alt="{{ poster.subject }} 이미지">
          <p>{{ poster.subject }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="main_poster_wrapper">
      {% for poster in contents_works %}
        <div class="main_poster_img" onclick="location.href='{% url 'works:detail' poster.id %}'">
          <img src="{{ poster.photo.url }}" alt="{{ poster.subject }} 이미지">
          <p>{{ poster.subject }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="main_poster_wrapper">
      {% for poster in contents_works %}
        <div class="main_poster_img" onclick="location.href='{% url 'works:detail' poster.id %}'">
          <img src="{{ poster.photo.url }}" alt="{{ poster.subject }} 이미지">
          <p>{{ poster.subject }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="main_poster_wrapper">
      {% for poster in contents_works %}
        <div class="main_poster_img" onclick="location.href='{% url 'works:detail' poster.id %}'">
          <img src="{{ poster.photo.url }}" alt="{{ poster.subject }} 이미지">
          <p>{{ poster.subject }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="main_two">
    <div class="main_two_text">
      <h2 class="main_two_text_one">About</h2>
    </div>
    <div class="main_two_wrapper">
      열정과 전문성을 바탕으로 다양한 장르의 영화 및 OTT를 제작하는 회사입니다.
      목표는 관객들에게 감동과 즐거움을 선사하는 작품을 만드는 것이며, 창의적이고 독창적인 아이디어를 가지고 있습니다.
      탁월한 시나리오 완성과 감각적인 시각 효과를 통해 콘텐츠의 퀄리티를 높이고 있습니다. 
    </div>
  </div>
  <div class="button_main"><a href="{% url 'about:about' %}" class="button_side">VIEW MORE</a></div>

  <div style="background-color: #fafafa;">
    <div class="main_three">
      <div class="main_three_text">
        <h2 class="main_three_text_one">Continue</h2>
      </div>
      <div class="main_three_text_two">
        스튜디오야수가 보유한 6편의 판권으로 현재 진행 중인 콘텐츠들입니다.
      </div>
      <div class="works_container_three">
        {% for works in continue_ott_works %}
        <div class="works_main_three" onclick="location.href='{% url 'works:detail' works.id%}'">
          <div class="works_over_three">
            <span class="works_text_three">
              <h2>{{ works.subject }}</h2>
              <h3><{{ works.making }}></h3>
              <p><strong>감독</strong> : {{ works.director }}</p>
              <p><strong>PD</strong> : {{ works.produce }}</p>
              <p><strong>주연</strong> : {{ works.actor }}</p>
            </span>
          </div>
          <h2>{{ works.subject }}</h2>
        </div>
        {% endfor %}
        {% for works in continue_movie_works %}
        <div class="works_main_three" onclick="location.href='{% url 'works:detail' works.id%}'">
          <div class="works_over_three">
            <span class="works_text_three">
              <h2>{{ works.subject }}</h2>
              <h3><상업영화></h3>
              <p><strong>감독</strong> : {{ works.director }}</p>
              <p><strong>PD</strong> : {{ works.produce }}</p>
              <p><strong>주연</strong> : {{ works.actor }}</p>
            </span>
          </div>
          <h2>{{ works.subject }}</h2>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="button_main"><a href="{% url 'works:works' %}" class="button_side">VIEW MORE</a></div>
  </div>

  <div style="background-color: #efefef;">
    <div class="main_four">
      <div class="main_four_text">
        <h2 class="main_four_text_one">News</h2>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              스튜디오야수란?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">저희 제작사는 영화 산업의 동향과 시장 요구에 민감하게 대응하며, 새로운 아이디어와 스토리로 관객들을 사로잡는 작품을 창조합니다.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              시나리오 제출 방법
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordi-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>sjkim6062@hanmail.net</strong>으로 모든 접수를 받고 있습니다. 궁금하신 사항은 언제든지 연락바랍니다.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              기타 문의사항
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">이메일로 연락 주시면 친절히 답변해 드리겠습니다.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="button_main"><a href="{% url 'news:news' %}" class="button_side">VIEW MORE</a></div>
  </div>
{% endblock %}
