{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>스튜디오야수</title>
<meta name="title" content="스튜디오야수"/>
<meta name="description" content="최고의 이야기를 담은 영화를 제작, 감동과 재미를 넘어선 경험을 선사합니다."/>
<link rel="icon" href="{% static 'img/logo.png' %}"/>

<meta property="og:title" content="스튜디오야수"/> 
<!-- <meta property="og:url" content=""/> -->
<meta property="og:type" content="homepage"/>
<meta property="og:description" content="최고의 이야기를 담은 영화를 제작, 감동과 재미를 넘어선 경험을 선사합니다."/> 
<meta property="og:image" content="{% static 'img/background.jpg' %}"/>
{% endblock %}
{% block content %}

  <div class="image-container">
    <img src="{% static 'img/backimg-01.jpg' %}" class="dark-background" alt="배경 이미지">

    <div class="img_text_main">
      <div class="img_text_one">Cinematic Visions</div>
      <div class="img_text_two">최고의 이야기를 담은 영화를 제작, 감동과 재미를 넘어선 경험을 선사합니다.</div>
    </div>
  </div>

  <div class="main_poster" style="background-color: #fafafa;">
    <div class="main_poster_wrapper">
        <div class="main_poster_img">
          <img src="{% static 'img/poster1.jpg' %}">
          <p>스텔라</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster2.jpg' %}">
          <p>강릉</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster3.jpg' %}">
          <p>동네사람들</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster5.jpg' %}">
          <p>그래, 가족</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster6.jpg' %}">
          <p>함정</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster7.jpg' %}">
          <p>감기</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster8.jpg' %}">
          <p>그대를 사랑합니다</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster9.jpg' %}">
          <p>마을금고 연쇄 습격사건</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster4.jpg' %}">
          <p>원더풀고스트</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster10.jpg' %}">
          <p>싸움의 기술</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster11.jpg' %}">
          <p>마파도</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster12.jpg' %}">
          <p>오후 4시</p>
        </div>
      </div>
    <div class="main_poster_wrapper">
        <div class="main_poster_img">
          <img src="{% static 'img/poster1.jpg' %}">
          <p>스텔라</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster2.jpg' %}">
          <p>강릉</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster3.jpg' %}">
          <p>동네사람들</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster5.jpg' %}">
          <p>그래, 가족</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster6.jpg' %}">
          <p>함정</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster7.jpg' %}">
          <p>감기</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster8.jpg' %}">
          <p>그대를 사랑합니다</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster9.jpg' %}">
          <p>마을금고 연쇄 습격사건</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster4.jpg' %}">
          <p>원더풀고스트</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster10.jpg' %}">
          <p>싸움의 기술</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster11.jpg' %}">
          <p>마파도</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster12.jpg' %}">
          <p>오후 4시</p>
        </div>
      </div>
    <div class="main_poster_wrapper">
        <div class="main_poster_img">
          <img src="{% static 'img/poster1.jpg' %}">
          <p>스텔라</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster2.jpg' %}">
          <p>강릉</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster3.jpg' %}">
          <p>동네사람들</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster5.jpg' %}">
          <p>그래, 가족</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster6.jpg' %}">
          <p>함정</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster7.jpg' %}">
          <p>감기</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster8.jpg' %}">
          <p>그대를 사랑합니다</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster9.jpg' %}">
          <p>마을금고 연쇄 습격사건</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster4.jpg' %}">
          <p>원더풀고스트</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster10.jpg' %}">
          <p>싸움의 기술</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster11.jpg' %}">
          <p>마파도</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster12.jpg' %}">
          <p>오후 4시</p>
        </div>
      </div>
    <div class="main_poster_wrapper">
        <div class="main_poster_img">
          <img src="{% static 'img/poster1.jpg' %}">
          <p>스텔라</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster2.jpg' %}">
          <p>강릉</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster3.jpg' %}">
          <p>동네사람들</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster5.jpg' %}">
          <p>그래, 가족</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster6.jpg' %}">
          <p>함정</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster7.jpg' %}">
          <p>감기</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster8.jpg' %}">
          <p>그대를 사랑합니다</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster9.jpg' %}">
          <p>마을금고 연쇄 습격사건</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster4.jpg' %}">
          <p>원더풀고스트</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster10.jpg' %}">
          <p>싸움의 기술</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster11.jpg' %}">
          <p>마파도</p>
        </div>
        <div class="main_poster_img">
          <img src="{% static 'img/poster12.jpg' %}">
          <p>오후 4시</p>
        </div>
      </div>
  </div>

  <div class="main_two">
    <div class="main_two_text">
      <h2 class="main_two_text_one">About</h2>
    </div>
    <div class="main_two_wrapper">
      열정과 전문성을 바탕으로 다양한 장르의 영화를 제작하는 회사입니다. 
      목표는 관객들에게 감동과 즐거움을 선사하는 작품을 만드는 것입니다.
      창의적이고 독창적인 아이디어를 가지고 있으며, 탁월한 시나리오 작성과 감각적인 시각 효과를 통해 영화의 퀄리티를 높이고 있습니다. 
      또한, 우수한 배우와 스태프들과의 협업으로 최상의 연기와 제작을 이끌어내고 있습니다.
    </div>
  </div>
  <div class="button_main"><a href="{% url 'about:about' %}" class="button_side">VIEW MORE</a></div>

  <div style="background-color: #fafafa;">
    <div class="main_three">
      <div class="main_three_text">
        <h2 class="main_three_text_one">Continue</h2>
      </div>
      <div class="main_three_text_two">
        영화제작자 김성진이 보유한 6편의 판권으로 현재 제작 중인 콘텐츠들입니다.
      </div>
      <div class="main_three_wrapper">
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>OTT <야수></p>
          <span>감독 : 조진웅<br>원안 : 배세영<br>각본 : 김효석, 강이상<br>주연 : 조진웅<br>제작사 : 스튜디오야수</span>
        </div>
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>OTT <김포></p>
          <span>감독 : 이원석<br>원안 : 미정<br>각본 : 박상욱<br>주연 : 비공개<br>제작사 : 스튜디오야수</span>
        </div>
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>영화 <타워크레인></p>
          <span>감독 : 김부철<br>원안 : 미정<br>각본 : 김부철<br>주연 : 비공개<br>제작사 : 스튜디오야수</span>
        </div>
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>영화 <은폐수사></p>
          <span>감독 : 김부철<br>원안 : 미정<br>각본 : 김부철<br>주연 : 비공개<br>제작사 : 스튜디오야수</span>
        </div>
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>영화 <보안사></p>
          <span>감독 : 미정<br>원안 : 미정<br>각본 : 김영주<br>주연 : 비공개<br>제작사 : 스튜디오야수</span>
        </div>
        <div class="main_three_img">
          <img src="{% static 'img/이미지업로드.svg' %}">
          <p>영화 <엘리베이터></p>
          <span>감독 : 권수경<br>원안 : 미정<br>각본 : 이상훈<br>주연 : 비공개<br>제작사 : 스튜디오야수</span>
        </div>
      </div>
    </div>
    <div class="button_main"><a href="{% url 'works:works' %}" class="button_side">VIEW MORE</a></div>
  </div>

  <div style="background-color: #efefef;">
    <div class="main_four">
      <div class="main_four_text">
        <h2 class="main_four_text_one">News</h2>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              스튜디오야수란?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">저희 제작사는 영화 산업의 동향과 시장 요구에 민감하게 대응하며, 새로운 아이디어와 스토리로 관객들을 사로잡는 작품을 창조합니다.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              시나리오 제출 방법
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordi-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>sjkim6062@hanmail.net</strong>으로 모든 접수를 받고 있습니다. 궁금하신 사항은 언제든지 연락바랍니다.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              기타 문의사항
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">이메일로 연락 주시면 친절하게 답변해 드리겠습니다.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="button_main"><a href="{% url 'news:news' %}" class="button_side">VIEW MORE</a></div>
  </div>
{% endblock %}
