body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0!important;
  padding: 0!important;
  font-family: 'Noto Sans KR', sans-serif;
}

@keyframes slideInFromTop {
    0% {
      transform: translate(-50%, -70%);
      opacity: 0;
    }
    100% {
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 1;
    }
  }
@keyframes slideInFromTop2 {
    0% {
      transform: translate(-50%, -70%);
      opacity: 0;
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 1;
    }
  }

@keyframes slideInLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes riseFromBottom {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes navbarFadeIn {
  to {
      opacity: 1;
  }
}

@keyframes floatUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}
  
@media all and (min-width:1024px) {
  .image-container {
    position: relative;
  }

  .text-animation{
    animation: slideInLeft 1s forwards
  }

  /* 이미지 바 */
  .dark-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-image: url('/static/img/backimg-02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .img_text_main{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInFromTop 0.5s ease-in-out;
  }

  .img_text_one {
    text-align: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 600;
    border-bottom: 3px solid white;
    width: 800px;
  }

  .img_text_two {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding-top: 1rem;
    width: 800px;
  }

  .img_svg_one {
    position: absolute;
    bottom: 1%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    animation: floatUpDown 2s infinite;
  }

  /* 네비게이션 바 */
  .navbar_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #fff; 
    z-index: 999;
    animation: navbarBottom 0.5s forwards
  }

  .navbar_links {
    margin-right: 10%;
  }

  .navbar_links a {
    text-decoration: none;
    color: #fff;
    margin-right: 4rem;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
  }

  .navbar_links a:last-child {
    margin-right: 0;
  }

  .navbar_links a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #792626;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  }

  .navbar_links a:hover::before {
    width: 100%;
    left: 0;
  }

  .navbar_logo {
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
    display: flex; 
    align-items: center;
    text-align: center;
    line-height: 1.2;
  }

  .navbar_logo img {
    width: 50px; 
    height: 50px;
  }

  .navbar_scroll {
    background-color: #fff;
    z-index: 5;
  }

  .navbar_scroll div a {
    color: black;
  }

  .navbar_scroll a {
    color: black;
  }

  .navbar_burger{
    display: none;
  }

  .navbar_menu{
    display: none;
  }

  /* 버튼 디자인 */  
  .button_main {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }

  .button_side {
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-weight: 700;
    border: 2px solid #000;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
  }

  .button_side:hover, .button_side:focus {
    background-color: #f4f1f1;
  }

  /* 홈페이지 포스터 */  
  .main_poster {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
  }
  
  .main_poster_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loop 30s linear infinite;
  }

  .main_poster_img {
    text-align: center;
    text-decoration: none;
    color: #000;
    flex-shrink: 0; /* 추가 */
    transition: transform 0.3s ease;
    margin-right: 3rem;
  }

  .main_poster_img img {
    width: 200px;
    height: 285px;
    object-fit: cover;
  }

  .main_poster_img p {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .main_poster:hover > .main_poster_wrapper {
    animation-play-state: paused;
    cursor: pointer;
  }
  .main_poster_img:hover {
    transform: scale(1.1);
  }

  @keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

  @-webkit-keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

  /* 홈페이지 두번째 단 */ 
  .main_two {
    display: block;
    margin: 0 auto;
    width: 1000px;
  }

  .main_two_text {
    display: flex;
    justify-content: start;
    padding: 2rem 0 1rem 0;
  }

  .main_two_text_one{
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    opacity: 0;
  }

  .main_two_wrapper {
    font-size: 1.3rem;
    width: 900px;
    margin: 0 auto 1rem auto;
  }

  .main_two_animate {
    opacity: 1; 
    transform: translateY(0);
  }

  /* 홈페이지 세번째 단 */ 
  .main_three {
    display: block;
    margin: 0 auto;
    width: 1000px;
  }

  .main_three_text {
    display: flex;
    justify-content: start;
    padding: 2rem 0 1rem 0;
  }

  .main_three_text_one{
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    opacity: 0;
  }

  .main_three_text_two{
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .works_container_three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
  }

  .works_main_three {
    width: 33%;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
  }

  .works_over_three {
      width: 230px;
      height: 331px;
      display: inline-block;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
      position: relative;
  }

  .works_over_three img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .works_text_three {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.8); 
      opacity: 0;
      transition: opacity 0.8s;
  }

  .works_main_three:hover .works_text_three {
      opacity: 1;
  }

  .works_text_three p {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
  }

  .works_main_three h2 {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  /* 홈페이지 네번째 단 */  

  .main_four{
    width: 1000px;
    margin: 0 auto;
  }

  .main_four_text {
    display: flex;
    justify-content: start;
    padding: 2rem 0 1rem 0;
  }

  .main_four_text_one{
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    opacity: 0;
  }

  .accordion{
    width: 900px;
    margin: 1rem auto;
    --bs-accordion-btn-active-icon:none;
  }
  
  .accordion-button:focus {
    outline: none!important;
    box-shadow: none!important;
  }
  .accordion-button:not(.collapsed) {
    border: none!important;
    background-color: rgb(0, 0, 0)!important;
    box-shadow: none!important;
    outline: none !important;
    color: #fff!important;
  }
  .accordion-button {
    font-weight: 600;
    color: #393838!important;
    font-size: 1.3rem!important;
  }

  .accordion-body {
    font-size: 1rem!important;
  }


  /* 홈페이지 footer */  
  .footer_main {
    border-top: 1px solid rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    background-color: #1f1d1d;
    padding: 1rem 0;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }

  .footer_text p,
  .footer_text span {
    margin: 0;
    font-size: 0.9rem;
    color: #fff;
    padding: 0.1rem 1rem;
  }  

  .footer_right{
    font-weight: 700;
    font-size: 1rem!important;
    color: #8d8d8d!important;
  }
}

@media all and (min-width:768px) and (max-width:1023.98px) {
  .image-container {
    position: relative;
  }

  .text-animation{
    animation: riseFromBottom 1s forwards
  }

  /* 이미지 바 */
  .dark-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-image: url('/static/img/backimg-06.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  
  
  
  .img_text_main{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInFromTop 0.5s ease-in-out;
  }

  .img_text_one {
    text-align: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 600;
    border-bottom: 3px solid white;
    padding-bottom: 0.5rem;
    width: 500px;
  }

  .img_text_two {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 1.1rem;
    padding-top: 1rem;
    width: 500px;
  }

  .img_svg_one {
    position: absolute;
    bottom: 1%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    animation: blink 2s infinite;
  }

  /* 네비게이션 바 */
  .navbar_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; 
    z-index: 999;
    animation: navbarBottom 0.5s forwards;
  }

  .navbar_logo {
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex; 
    align-items: center;
    text-align: center;
    line-height: 1.3;
  }

  .navbar_logo img {
    width: 45px; 
    height: 45px;
  }

  .navbar_links {
    display: none;
  }

  .navbar_burger {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }

  .navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
  }

  .navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 999;
    transition: transform 0.3s ease;
    opacity: 0;
  }

  .navbar_menu a {
    position: relative;
    color: #ffffff;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
  }

  .navbar_burger svg {
    width: 48px;
    height: 48px;
  }

  .navbar_menu svg {
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
    color: white;
    width: 32px;
    height: 32px;
  }

  .navbar_menu.active {
    transform: translateX(0);
    opacity: 0.9;
  }

  .navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar_scroll {
    background-color: #0e0e0e;
    z-index: 5;
  }

  /* 버튼 디자인 */  
  .button_main {
    width: 100%;
    text-align: center;
    padding: 1rem 0 2rem 0;
  }

  .button_side {
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-weight: 700;
    border: 3px solid #000;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
  }

  .button_side:hover, .button_side:focus {
    background-color: #f4f1f1;
  }

  /* 홈페이지 포스터 */  
  .main_poster {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
    pointer-events: none;
  }
  
  .main_poster_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loop 30s linear infinite;
  }

  .main_poster_img {
    text-align: center;
    text-decoration: none;
    color: #000;
    flex-shrink: 0; /* 추가 */
    transition: transform 0.3s ease;
    margin-right: 2rem;

  }

  .main_poster_img img {
    width: 200px;
    height: 285px;
    object-fit: cover;
  }

  .main_poster_img p {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .main_poster:hover > .main_poster_wrapper {
    animation-play-state: paused;
    cursor: pointer;
  }

  @keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

  @-webkit-keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

      /* 홈페이지 두번째 단 */ 
  .main_two {
    display: block;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
  }

  .main_two_text {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
  }

  .main_two_text_one{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    padding: 0;
    opacity: 0;
  }

  .main_two_wrapper {
    font-size: 1.3rem;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .main_two_animate {
    opacity: 1; 
    transform: translateY(0);
  }

  /* 홈페이지 세번째 단 */ 
  .main_three {
    display: block;
    margin: 0 auto;
    width: 700px;
    text-align: center;
  }

  .main_three_text {
    display: flex;
    justify-content: center;
    padding: 4rem 0 2rem 0;
  }

  .main_three_text_one{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    opacity: 0;
  }

  .main_three_text_two{
    font-size: 1.3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .works_container_three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    margin: 0 auto 1rem auto;
  }

  .works_main_three {
    width: 33%;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
  }

  .works_over_three {
      width: 200px;
      height: 285px;
      display: inline-block;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
      position: relative;
  }

  .works_over_three img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .works_text_three {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.8); 
      opacity: 0;
      transition: opacity 0.8s;
  }

  .works_main_three:hover .works_text_three {
      opacity: 1;
  }

  .works_text_three p {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
  }

  .works_main_three h2 {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
  }

  /* 홈페이지 네번째 단 */  

  .main_four{
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .main_four_text {
    display: flex;
    justify-content: center;
    padding: 4rem 0 2rem 0;
  }

  .main_four_text_one{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    padding: 0;
    opacity: 0;
  }

  .accordion{
    width: 90vw;
    margin: 0 auto;
    --bs-accordion-btn-icon-width: 1.5rem;
    --bs-accordion-btn-active-icon:none;
    margin-bottom: 2rem;
  }
  
  .accordion-button:focus {
    outline: none!important;
    box-shadow: none!important;
  }
  .accordion-button:not(.collapsed) {
    border: none!important;
    background-color: rgb(0, 0, 0)!important;
    box-shadow: none!important;
    outline: none !important;
    color: #fff!important;
  }
  .accordion-button {
    font-weight: 600;
    color: #393838!important;
    font-size: 1.3rem!important;
    padding: 1rem!important;
  }

  .accordion-body {
    font-size: 1rem!important;
  }

  /* 홈페이지 footer */  
  .footer_main {
    border-top: 1px solid rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    background-color: #1f1d1d;
    padding: 1rem 1rem;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .footer_text p,
  .footer_text span {
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.1rem 1rem;
  }  

  .footer_right{
    font-weight: 700;
    font-size: 0.9rem!important;
    color: #8d8d8d!important;
  }
}

@media all and (max-width:767.98px) {
  .image-container {
    position: relative;
  }
  
  body {
    overflow-x: hidden; /* 가로 스크롤 막기 */
  }
  .text-animation{
    animation: riseFromBottom 1s forwards
  }

  /* 이미지 바 */
  .dark-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-image: url('/static/img/backimg-06.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .img_text_main{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInFromTop 0.5s ease-in-out;
  }

  .img_text_one {
    text-align: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 3px solid white;
    padding-bottom: 0.5rem;
  }

  .img_text_two {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    width: 80vw;
  }

  .img_svg_one {
    position: absolute;
    bottom: 2%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    animation: blink 2s infinite;
  }

  /* 네비게이션 바 */
  .navbar_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; 
    z-index: 999;
    animation: navbarBottom 0.5s forwards;
  }

  .navbar_logo {
    margin-left: 6%;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 900;
    display: flex; 
    align-items: center;
    text-align: center;
    line-height: 1.3;
  }

  .navbar_logo img {
    width: 40px; 
    height: 40px;
  }

  .navbar_links {
    display: none;
  }

  .navbar_burger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
  }

  .navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 999;
    transition: transform 0.3s ease;
    opacity: 0;
  }

  .navbar_menu a {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 0.3rem;
    margin-bottom: 3rem;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
  }

  .navbar_burger svg {
    width: 48px;
    height: 48px;
  }

  .navbar_menu svg {
    position: fixed;
    top: 1.4rem;
    right: 1.4rem;
    cursor: pointer;
    color: white;
    width: 36px;
    height: 36px;
  }

  .navbar_menu.active {
    transform: translateX(0);
    opacity: 0.9;
  }

  .navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar_scroll {
    background-color: #0e0e0e;
    z-index: 5;
  }

  /* 버튼 디자인 */  
  .button_main {
    width: 100%;
    text-align: center;
    padding: 1rem 0 2rem 0;
  }

  .button_side {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-weight: 700;
    border: 2px solid #000;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    white-space: nowrap;
  }

  .button_side:hover, .button_side:focus {
    background-color: #f4f1f1;
  }

  /* 홈페이지 포스터 */  
  .main_poster {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
    pointer-events: none;
  }
  
  .main_poster_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loop 30s linear infinite;
  }

  .main_poster_img {
    text-align: center;
    text-decoration: none;
    color: #000;
    flex-shrink: 0; /* 추가 */
    transition: transform 0.3s ease;
    margin-right: 1rem;
  }

  .main_poster_img img {
    width: 150px;
    height: 214px;
    object-fit: cover;
  }

  .main_poster_img p {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .main_poster:hover > .main_poster_wrapper {
    animation-play-state: paused;
    cursor: pointer;
  }

  @keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

  @-webkit-keyframes loop {
    100% {
      transform: translateX(-100%);
  }}

      /* 홈페이지 두번째 단 */ 
  .main_two {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .main_two_text {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
  }

  .main_two_text_one{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    padding: 0;
    opacity: 0;
  }

  .main_two_wrapper {
    font-size: 1rem;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .main_two_animate {
    opacity: 1; 
    transform: translateY(0);
  }

  /* 홈페이지 세번째 단 */ 
  .main_three {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .main_three_text {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
  }

  .main_three_text_one{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    padding: 0;
    opacity: 0;
  }

  .main_three_text_two{
    font-size: 1rem;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .works_container_three {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 1rem auto;
  }

  .works_main_three {
    flex-shrink: 0;
    margin: 1rem 0.5rem;
    text-decoration: none;
    color: #000;
    position: relative;
    cursor: pointer;
  }

  .works_over_three {
    width: 150px;
    height: 213px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  .works_over_three img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .works_text_three {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.8); 
      opacity: 0;
      transition: opacity 0.8s;
  }

  .works_text_three p {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
  }

  .works_main_three h2 {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
  }

  /* 홈페이지 네번째 단 */  

  .main_four{
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .main_four_text {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
  }

  .main_four_text_one{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    padding: 0;
    opacity: 0;
  }

  .accordion{
    width: 90vw;
    margin: 0 auto;
    --bs-accordion-btn-icon-width: 1rem;
    --bs-accordion-btn-active-icon:none;
    margin-bottom: 2rem;
  }
  
  .accordion-button:focus {
    outline: none!important;
    box-shadow: none!important;
  }
  .accordion-button:not(.collapsed) {
    border: none!important;
    background-color: rgb(0, 0, 0)!important;
    box-shadow: none!important;
    outline: none !important;
    color: #fff!important;
  }
  .accordion-button {
    font-weight: 600;
    color: #393838!important;
    font-size: 1rem!important;
    padding: 1rem!important;
  }

  .accordion-body {
    font-size: 0.9rem!important;
  }

  /* 홈페이지 footer */  
  .footer_main {
    border-top: 1px solid rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    background-color: #1f1d1d;
    padding: 1rem 1rem;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .footer_text p,
  .footer_text span {
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.1rem 0.5rem;
  }  

  .footer_right{
    font-weight: 700;
    font-size: 0.9rem!important;
    color: #8d8d8d!important;
  }
}