{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>스튜디오야수 보도 자료</title>
<meta name="title" content="스튜디오야수 보도 자료"/>
<meta name="description" content="[{{ index.subject }}] 문의사항 답변 결과"/>
<link rel="icon" href="{% static 'img/logo.png' %}"/>

<meta property="og:title" content="스튜디오야수 보도 자료"/> 
<meta property="og:url" content="https://www.studiobeast.co.kr/news/{{ index.id }}/"/>
<meta property="og:type" content="homepage"/>
<meta property="og:description" content="[{{ index.subject }}] 문의사항 답변 결과"/> 
<meta property="og:image" content="{% static 'img/background.jpg' %}"/>
{% endblock %}
{% block content %}
<div class="news_detail_height">
    <div class="image-container">
        <img src="{% static 'img/backimg-01.jpg' %}" class="side-background" alt="배경 이미지">
        <div class="img_about_main">
            <div class="img_about_one">NEWS</div>
            <div class="img_about_two">최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다.</div>
        </div>
    </div>
    <div class="about_animation">
        <h2 class="works_text_one">NOTICE</h2>
        <div class="news_detail_main">
            <h3>{{ index.subject }}</h3>
            <p class="news_detail_author">{{ index.author }} | {{ index.create_date|date:"Y.m.d" }}</p>
            <div class="news_detail_content">{{ index.content|safe }}</div>
        </div>
        <div class="button_main"><a href="{% url 'news:news' %}" class="button_side" style="font-size: 1.1rem; padding: 10px 53px;;">목록</a></div>
    </div>
</div>

{% endblock %}
