{% load static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
</head>
<body>
      <!-- pc버전 -->
  <div class="navbar_main">
    <a class="navbar_logo" href="{% url 'about:index' %}">
        <img src="{% static 'img/logo.png' %}">
        <span style="vertical-align: middle;">STUDIO<br>BEAST</span>
    </a>
    
    <div class="navbar_links">
        <a href="{% url 'about:about' %}">ABOUT</a>
        <a href="{% url 'works:works' %}">WORKS</a>
        <a href="{% url 'news:news' %}">NEWS</a>
        <a href="{% url 'contact:contact' %}">CONTACT</a>
    </div>
    <div class="navbar_burger">
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
  </div>

  <!-- 모바일버전 -->
  <div class="navbar_overlay"></div> <!-- 추가: 오버레이 요소 -->

  <div class="navbar_menu">
    <a href="{% url 'about:about' %}">ABOUT</a>
    <a href="{% url 'works:works' %}">WORKS</a>
    <a href="{% url 'news:news' %}">NEWS</a>
    <a href="{% url 'contact:contact' %}">CONTACT</a>
    <div class="navbar_burger_back">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </div>
  </div>
  
    {% block content %}
    {% endblock %}
  <footer>
    <div class="footer_main">
      <div class="footer_text">
        <p>경기도 고양시 덕양구 백양로 82. 206호-B259</p>
        <span>사업자등록번호 : 123-45-67890</span>
        <span>대표자 : 김성진</span>
        <span class="footer_right">©2023 스튜디오야수 Corp. All Rights Reserved.</span>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script>
    var darkBackground = document.querySelector(".dark-background");
    var sideBackground = document.querySelector(".side-background");
    var navbar = document.querySelector(".navbar_main");

    function handleNavbarScroll1() {
      var windowHeight = window.innerHeight;
      var scrollPosition = window.scrollY;

      var darkBackgroundHeight = darkBackground.offsetHeight;
      var darkBackgroundTop = darkBackground.offsetTop;

      var triggerPosition1 = darkBackgroundTop + (darkBackgroundHeight * 0.9);

      if (scrollPosition >= triggerPosition1) {
        navbar.classList.add("navbar_scroll");
      } else {
        navbar.classList.remove("navbar_scroll");
      }
    }

    function handleNavbarScroll2() {
      var windowHeight = window.innerHeight;
      var scrollPosition = window.scrollY;

      var sideBackgroundHeight = sideBackground.offsetHeight;
      var sideBackgroundTop = sideBackground.offsetTop;

      var triggerPosition2 = sideBackgroundTop + (sideBackgroundHeight * 0.9);

      if (scrollPosition >= triggerPosition2) {
        navbar.classList.add("navbar_scroll");
      } else {
        navbar.classList.remove("navbar_scroll");
      }
    }

    window.addEventListener("scroll", handleNavbarScroll1);
    window.addEventListener("resize", handleNavbarScroll1);
    window.addEventListener("scroll", handleNavbarScroll2);
    window.addEventListener("resize", handleNavbarScroll2);
  </script>

  <script>
    function isInViewport(element) {
    var bounding = element.getBoundingClientRect();
    return (
        bounding.top >= 0 &&
        bounding.left >= 0 &&
        bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    var main_two_text_one = document.querySelector(".main_two_text_one");

    var main_three_text_one = document.querySelector(".main_three_text_one");

    var main_four_text_one = document.querySelector(".main_four_text_one");
    function handleVisibility() {
      if (isInViewport(main_two_text_one)) {
        main_two_text_one.classList.add("text-animation");
      } else {
        main_two_text_one.classList.remove("text-animation");
      }

      if (isInViewport(main_three_text_one)) {
        main_three_text_one.classList.add("text-animation");
      } else {
        main_three_text_one.classList.remove("text-animation");
      }

      if (isInViewport(main_four_text_one)) {
        main_four_text_one.classList.add("text-animation");
      } else {
        main_four_text_one.classList.remove("text-animation");
      }

    }

    document.addEventListener("DOMContentLoaded", handleVisibility);
    window.addEventListener("scroll", handleVisibility);
    window.addEventListener("resize", handleVisibility);
  </script>

  <script>
    const navbarBurger = document.querySelector('.navbar_burger');
    const navbarburgerback = document.querySelector('.navbar_burger_back');
    const navbarMenu = document.querySelector('.navbar_menu');
    const navbarOverlay = document.querySelector('.navbar_overlay');

    navbarBurger.addEventListener('click', () => {
      navbarMenu.classList.toggle('active');
      navbarOverlay.classList.toggle('active');
    });

    navbarburgerback.addEventListener('click', () => {
      navbarMenu.classList.remove('active');
      navbarOverlay.classList.remove('active');
    });

    navbarOverlay.addEventListener('click', () => {
      navbarMenu.classList.remove('active');
      navbarOverlay.classList.remove('active');
    });

  </script>
</body>
</html>
