{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>스튜디오야수 {{index.subject}} 정보</title>
<meta name="title" content="스튜디오야수 {{index.subject}} 정보"/>
<meta name="description" content="최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다."/>
<link rel="icon" href="{% static 'img/logo.png' %}"/>

<meta property="og:title" content="스튜디오야수 {{index.subject}} 정보"/> 
<meta property="og:url" content="https://www.studiobeast.co.kr/works/{{index.id}}/"/>
<meta property="og:type" content="homepage"/>
<meta property="og:description" content="최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다."/> 
<meta property="og:image" content="{% static 'img/background.jpg' %}"/>
{% endblock %}
{% block content %}
<div class="works_detail_height">
    <div class="image-container">
        <img src="{% static 'img/backimg-01.jpg' %}" class="side-background" alt="배경 이미지">

        <div class="img_about_main">
        <div class="img_about_one">WORKS</div>
        <div class="img_about_two">최고의 이야기를 담은 콘텐츠를 제작, 감동과 재미를 선사합니다.</div>
        </div>
    </div>
    <div class="about_animation">
        <h2 class="works_text_one">CONTENTS</h2>
        <div class="works_detail_main">
            <img src="{{ index.photo.url }}" alt="Work Photo">
            <ul class="works_detail_ul">
                <li>
                    <span class="works_detail_li">제목</span>
                    <span class="works_detail_lx">{{index.subject}}</span>
                </li>
                {% if index.subject == '야수' or index.subject == '김포' %}
                <li>
                    <span class="works_detail_li">시리즈</span>
                    <span class="works_detail_lx">{{index.making}}</span>
                </li>
                {% endif %}
                {% if index.subject != '야수' %}
                {% if index.subject != '김포' %}
                {% if index.subject != '오후 네시' %}
                <li>
                    <span class="works_detail_li">기획 / 제작</span>
                    <span class="works_detail_lx">{{index.making}}</span>
                </li>
                {% endif %}
                {% endif %}         
                {% endif %}               
                {% if index.subject == '오후 네시' %}
                <li>
                    <span class="works_detail_li">기획</span>
                    <span class="works_detail_lx">{{index.making}}</span>
                </li>
                {% endif %}   
                <li>
                    <span class="works_detail_li">감독</span>
                    <span class="works_detail_lx">{{index.director}}</span>
                </li>
                {% if index.subject != '감기' %}
                <li>
                    <span class="works_detail_li">프로듀서</span>
                    <span class="works_detail_lx">{{index.produce}}</span>
                </li>
                {% endif %}
                {% if index.subject == '감기' %}
                <li>
                    <span class="works_detail_li">총괄프로듀서</span>
                    <span class="works_detail_lx">{{index.making}}</span>
                </li>
                {% endif %}  
                <li>
                    <span class="works_detail_li">주연</span>
                    <span class="works_detail_lx">{{index.actor}}</span>
                </li>
                {% if index.subject != '야수' %}
                {% if index.subject != '김포' %}
                <li>
                    <span class="works_detail_li">개봉일</span>
                    <span class="works_detail_lx">{{index.create_date}}</span>
                </li>
                {% endif %}    
                {% endif %}
                <li>
                    <span class="works_detail_li">줄거리</span>
                    <span class="works_detail_lx">{{index.content}}</span>
                </li>
            </ul>
        </div>
        <div class="button_main"><a href="{% url 'works:works' %}" class="button_side" style="font-size: 1.1rem; padding: 10px 53px;;">목록</a></div>
    </div>
</div>
{% endblock %}
